body {
    background: url(back6.gif);
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    outline: none;
    overflow: hidden;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(7px);
    padding: 15px 50px;
    flex-wrap: wrap;
    
}
div.tile, h2{
    display: flex;
    margin-top: 8%;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    font-size: 35px;
    color: white;
}
.container {
    display: flex;
    justify-content: center; 
}
button.b1{  
    display: flex;
    background: transparent url(back.gif);
    padding: 15px 50px;
    border-style:  transparent solid;
    border-radius: 10px;
}
.container, button.b1, a{
    text-decoration: none;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: light;
    font-size: medium;
}

hr {
    border: none;
    height: 1px;
    background-color: white;
    margin: -6px;
}  
h1{
    color: white;
    font-family: Helvetica;
    flex: auto;
    font-size: 18px;
    font-weight: light;
    
}
nav {
    display: flex;
    gap: 50px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 16px; 
    font-family: Arial, sans-serif;
    position: relative;
}
nav a::after{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    background: white;
    bottom: -6px;
    transition:  0.3s ease-in-out;
}
nav a.active:hover, nav a.active{
    color: white;
    border-bottom: 3px solid white;
}
nav a.act3:hover::after {
    width: 100%; 
    border-bottom: 3px solid white;
}
nav a.act2:hover::after{
    width: 100%; 
    border-bottom: 3px solid white;
}

.Logo{
    width: 80px;
    height: auto;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }
    nav a{
        flex-direction: column;
        text-align: right;
        gap: 10px;
    }

    .Logo {
        width: 40px; 
        margin-bottom: 10px;
    }
}